[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Brandon Carroll
   email = brandon@infinitry.net
[http]
#   proxy = http://119307:02227509@wsa2-sn.pcci.edu:3128
#   sslverify = false
[https]
#   proxy = https://119307:02227509@wsa2-sn.pcci.edu:3128
#   sslverify = false
[core]
	excludesfile = /Users/Brandon/.gitignore_global
	editor = /usr/bin/vim
